

<main class="container centered">


    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Our vehicles</h1>
                <p class="lead text-muted">Feel free to add your own.</p>
                <p></p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" *ngFor="let vehicle of vehicles">
                    <div class="card shadow-sm">
                        <button type="button" (click)="viewVehicle(vehicle.id)" class="btn btn-outline-secondary btn-sm px-4">{{vehicle.make}} {{vehicle.model}}  {{vehicle.year}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

</main>
