<main class="container centered" *ngIf="vehicle">

    <div class="container">
        <div class="row align-items-center g-5 py-5">
          <div class="col">
            <app-image-display></app-image-display>
          </div>
          <div class="col"> 
            <h1 class="fw-light">Vehicle details:</h1>
            <div class="text-muted">
            <p>Model: {{vehicle.model}}</p>
            <p>Make: {{vehicle.make}}</p>
            <p>Year: {{vehicle.year}}</p>
            <p>Avg. Consumption: {{vehicle.consumption}} liter per km</p>
          </div>
        </div> 
            <div class="d-grid gap-2 d-md-flex justify-content">
              <button type="button" class="col btn btn-outline-secondary btn-sm px-4" (click)="tripCost()">Simulate trip cost</button>
              <button type="button" class="col btn btn-outline-secondary btn-sm px-4" (click)="updateVehicle()">Update details</button>
             <!--
              <button type="button"  class="col btn btn-outline-secondary btn-sm px-4" (click)="uploadPicture()">Upload picture</button>
              -->
              <button type="button"  class="col btn btn-outline-secondary btn-sm px-4" (click)="delete()">Delete vehicle</button>
            </div>

            <router-outlet></router-outlet>
        </div>
      </div>

</main>