<div class="text-muted">
    <p class="fw-light">{{instructions}}</p>
    <form #vf="ngForm" (ngSubmit)="validateInput(vf.value)">
        <p>Model :
            <input type="text" name="model" placeholder="Model" ngModel>
        </p>
        <p>Make :
            <input type="text" name="make" placeholder="Make" ngModel>
        </p>
        <p>Year :
            <input type="number" name="year" placeholder="yyyy" ngModel>
        </p>
        <p>Avg. consumtion per km :
            <input type="number" no-float name="consumption" placeholder="0.0" ngModel>
        </p>
        <input type="submit" class="btn btn-outline-secondary btn-sm px-4" value="Submit">
    </form>
        
</div>
